header {
    display: flex;
    height: 80px;
    background-color: rgb(0, 151, 58);
    border-radius: 10px;
}

.logo {
    align-items: center;
    justify-content: center;
}

.logo-text {
    color: white;
    font-weight: bold;
    font-size: 18px;
}